{% load static %}

<hr />

<section class="tarjetas">
    <div class="icons">
        <i class="fa-brands fa-cc-visa fa-2x" style="color: white;"></i>
    </div>
    <div class="icons">
        <i class="fa-brands fa-cc-mastercard fa-2x" style="color: white;"></i>
    </div>
    <div class="icons">
        <i class="fa-brands fa-cc-amex fa-2x" style="color: white;"></i>
    </div>
    <div class="icons">
        <i class="fa-brands fa-cc-diners-club fa-2x" style="color: white;"></i>
    </div>
    <div class="icons">
        <i class="fa-brands fa-cc-paypal fa-2x" style="color: white;"></i>
    </div>
    <div class="icons">
        <i class="fa-brands fa-cc-discover fa-2x" style="color: white;"></i>
    </div>
</section>

<div class="card">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Corporación J.E.R.O.</p>
            <footer class="blockquote-footer">
                Desafio Latam, <cite title="Source Title">“desarrollado por Jorge Rodríguez Oliva para Desafío
                    Latam”</cite>
                <hr />
                <h4>SIGUENOS:</h4>
                <div class="sociales">
                    <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                    <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                    <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                    <a href="#" class="fa fa-youtube" aria-hidden="true"></a>
                </div>

            </footer>
        </blockquote>
    </div>
</div>