{% load static %}

<hr />
<section class="tarjetas py-3">
        <i class="fa-brands fa-cc-visa fa-2x" style="color: white;"></i>
        <i class="fa-brands fa-cc-mastercard fa-2x" style="color: white;"></i>
        <i class="fa-brands fa-cc-amex fa-2x" style="color: white;"></i>
        <i class="fa-brands fa-cc-diners-club fa-2x" style="color: white;"></i>
        <i class="fa-brands fa-cc-paypal fa-2x" style="color: white;"></i>
        <i class="fa-brands fa-cc-discover fa-2x" style="color: white;"></i>
</section>
<div class="card">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <h3>Corporación J.E.R.O.</h3>
            <hr />
            <footer class="blockquote-footer" style="color:black">
                Desafio Latam, <cite title="Source Title">“desarrollado por Jorge Rodríguez Oliva para Desafío
                    Latam”</cite>
                <hr />
                <h4>Siguenos en nuestras redes sociales:</h4>
                <div class="sociales">
                    <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                    <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                    <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                    <a href="#" class="fa fa-youtube" aria-hidden="true"></a>
                </div>

            </footer>
        </blockquote>
    </div>
</div>