{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" id="home">
    <div class="row">
        <div class="col">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>
                    Nuestros Productos
                </h2>
                <p>
                    OnlyFlans nace en el año 2021 buscando entregar flanes de calidad.
                </p>
                <a href="{% url 'acerca' %}" class="btn btn.outline-light">
                    Conoce más
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-md-3 g-4">
        {% for p in flanes_publicos %}
        <div class="col" id="cartas">
            <div class="card h-100">
                <img src="{{p.image_url}}" class="card-img-top" height="80%" alt="foto">
                <div class="card-body" style="background-color: gold;color: blue;">
                    <h4 class="card-title">{{p.name}}</h4>
                    <h6 class="card-title">{{p.description | slice:":100"}}{% if p.description|length > 100 %}...{% endif %}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}