<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>WEB OnlyFlans</title>
</head>
<body>
    <h1>Only Flans</h1>
    <h2>{{message}}</h2>

    <div>
        <img class=logo src="{% static 'img/only.png' %}" />

    </div>
    <div>
        <img class=logo2 src="https://s1.eestatic.com/2020/04/19/cocinillas/recetas/postres/azucar-leche-huevo_483712124_150563114_1706x960.jpg" alt="flan"/>
    </div>

</body>
</html>